body{
    --body-bg: #5FFBF1;
    --footer-bg:linear-gradient(to top, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    --nav-bg:linear-gradient(to bottom, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    background-color: var(--body-bg);
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
}
body.dark{
    --body-bg:#430026;
    color:#00dff3;
    --nav-bg: linear-gradient(to top, #430026, #4c123c, #512454, #51356b, #4d4781, #455c99, #3771ad, #1e86bf, #00a4d4, #00c1e3, #26deec, #5ffbf1);
    --footer-bg: linear-gradient(to bottom, #430026, #4c123c, #512454, #51356b, #4d4781, #455c99, #3771ad, #1e86bf, #00a4d4, #00c1e3, #26deec, #5ffbf1);
}

aside{
    flex-direction: column;
    position: static;
    margin-left: 80%;

    min-width: 20px;
    max-width: 50px;
}
#selection {
    margin: -10px;
    background-image:var(--nav-bg) ;    
}

#tabs{
    border: black;
    font-size: large;
    margin: 0 10px 0 30px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}
nav{
    color: white;
    position: fixed;
    width: 102%;
}
#info{
    border-color: #fbfbfb;
}
#name ,#title, p{
    flex-direction: column;
    text-align: center;
}
#info, #skill, #project, #contact{
    padding: 20px;
}

p{
    margin: auto;
    max-width: 30%;
}
#skill-list{
    margin: 30px;
    text-align: center;
    justify-content: space-evenly;
    border-bottom:solid #356ec6;
    margin-left: 30%;
    margin-right: 30%;
}
.icons{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(4,10vmin);
    grid-template-columns: repeat(4,10vmin);
    grid-gap: 10vmin;
}

#html, #css, #javascript, #express, #mongodb, #github-badge, #nodejs, #postgresSQL, #react, #python, #django, #docker{
    max-width: 100px;
    min-width: 70px;
    min-height: 20px;
    max-width: 20px;
    padding: 13px; 
    width: 50px;
    border-radius: 60px;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


#html:hover, #css:hover, #javascript:hover, #express:hover, #mongodb:hover, #github-badge:hover, #nodejs:hover, #postgresSQL:hover, #react:hover, #python:hover, #django:hover, #docker:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}
#resume:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}

.projects{
    border-bottom: solid #356ec6;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    
}
footer{
    margin-bottom: 0;
    background-image: var(--footer-bg);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: -8px;
}
#id{
    position:inherit
}
button{
    background-image: radial-gradient(circle, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    position:static;
    color:white;
    font-weight: 600;
    border-radius: 20px;
    padding: 20px;
    margin: 60px 0;
    max-width: fit-content;
}

#resume{
    min-width: none;
    max-width: 50px;
    border-radius: 60px;
    padding: 10px;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin-right:70%;
}
#github{
    width: 90px;
    padding: 30px;
}
#linked-in{
    width: 90px;
    padding:30px;
    border-radius: 80px;
    border: 0;
}
#email{
    width:90px;
    padding: 30px;
}
#ttt{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 60px ;
    border: solid white
}
#my-stuff{ 
    margin-bottom: 60px;
}
#gitdemo{
    text-decoration: none;
    display:inline-block;
    margin-left: 47%;
}
#deployment{
    display: inline-block;
    margin-left: 39%;
    margin-right: 38%;
    overflow:hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #d16ba5;
}
::-webkit-scrollbar-thumb {
    background: #41dfff;
}