body{
    --body-bg: #5FFBF1;
    --footer-bg:linear-gradient(to top, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    --nav-bg:linear-gradient(to bottom, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    background-color: var(--body-bg);
    font-family: 'Roboto Slab', serif;
    
}
body.dark{
    --body-bg:#430026;
    color:#00dff3;
    --nav-bg:linear-gradient(to top, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    --footer-bg:linear-gradient(to bottom, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
}

aside{
    flex-direction: column;
    position: static;
    margin-left: 88%;
    
    
}
#selection {
    margin: -10px;
    background-image:var(--nav-bg) ;    
}

#tabs{
    border: black;
    font-size: large;
    margin: 0 10px 0 30px;
    
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}
nav{
    color: white;
    position: fixed;
    width: 100%;
    
}
#info{
    border-color: #fbfbfb;
}
#name ,#title, p{
    flex-direction: column;
    text-align: center;
}
#info, #skill, #project, #contact{
    padding: 20px;
}

p{
    margin: auto;
    max-width: 30%;
}
#skill-list{
    margin: 30px;
    text-align: center;
    justify-content: space-evenly;
    border-bottom:solid #356ec6;
    margin-left: 30%;
    margin-right: 30%;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

#html{
    width: 55px;
    padding: 10px;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 80px;
}
#css, #javascript{
    padding: 12px; 
    width: 50px;
    border-radius: 60px;
    padding: 10px;
    
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
#resume:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}
#html:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}
#css:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}
#javascript:hover{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #fbf9ff, #f7f7ff, #fcfdff, #fbfbfb, #aaddff, #72d8fc, #28d7fa, #46eefa, #5ffbf1);
}
.projects{
    border-bottom: solid #356ec6;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
    
}
footer{
    margin-bottom: 0;
    background-image: var(--footer-bg);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: -15px;
}
#id{
    position:inherit
}
button{
    background-image: radial-gradient(circle, #780044, #79135a, #752470, #6b3486, #59439b, #4b59b2, #356ec6, #0083d6, #00a3e9, #00c2f1, #00dff3, #5ffbf1);
    position:static;
    color:white;
    font-weight: 600;
    border-radius: 20px;
    padding: 20px;
    margin: 60px 0;
}

#resume{
    max-width: 55px;
    border-radius: 60px;
    padding: 10px;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 80px;
}
#github{
    width: 90px;
    padding: 30px;
}
#linked-in{
    width: 90px;
    padding:30px;
    border-radius: 80px;
    border: 0;
}
#email{
    width:90px;
    padding: 30px;
}
#ttt{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 60px ;
    border: solid white
}
#my-stuff{
    margin-bottom: 60px;
}